.netflix-menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    color: white;
    list-style: none;
    flex-direction: column;
}
i.fa.fa-play {
    padding: 0px;
    margin: 2px 8px 0px -29px;
}

li.netflix-menu-item {
    list-style: none;
}

ul.netflix-icon {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 21px;
}

li.netflix-icon-item {
    padding-left: 30px;
    margin-left: -21px;
}

a.item {
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 19px;
    width: 53px;
    text-decoration: none;
    margin: 13px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}
.playStore-img{
    scale: 27%;
    margin-top: -31%;
    margin-left: -36%;
}
